.container-fluid {
    background-color: black;
    height: 5vw;
}

.nav {
    padding-top: 1%;
}

.nav-link {
    color: gray;
}

.col {
    text-align: center;
    margin-top: 5%;
}

img {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    border-left: none;
}